doctype html5

html(lang="en")
  head
    title Hello World!
    link(rel="stylesheet", href="components/normalize-css/normalize.css")
    link(rel="stylesheet", href="css/style.css")
  body
    h1 Click me!
    #container
      p Hello world!

    script(async=true, data-main="main", src="components/requirejs/require.js")
